html {
    height: 100%;
}

body {
    margin: 0;
    font-family:Barlow;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 100%;
}

label {
    font-weight: 600;
    padding-left: 16px;
}

#number-selection {
    display: flex;
    align-items: center;
    gap: 12px;
}

#number-selection span {
    font-weight: 600;
    display: flex;
    align-items: center;
   
}

#number-selection button {
    border: none;
    background-color: #2b2db5;
    padding: 6px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

#current-load-value {
    display: flex;
    gap: 12px;
}

#number-selection button:hover{
    background-color: #2b2db5c5;
}

#number-select {
   
    border: none;
    background-color: #2b2db5;
    color: white;
    border-radius: 4px;
    outline: none;
}

#number-select select:hover {
    background-color: #2b2db5c5;
}


.no-scroll {
    overflow: hidden;
}

.max-width {
    margin: auto;
    max-width: 1920px;
}

.d-flex-space-btw {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

h1 {
    font-size: 58px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #3264AF;
    color: #FFCC01;
}

header {
    background-color: rgb(77, 228, 228);    
    margin-bottom: 5%;
    height: 22%;
  
}




.poke-name {
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
    

}


.poke-body {
    padding-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;

}

.pokecard {
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    width: 16%;
    border: 3px solid #060607;
   
}

.poke-type {
    border-radius: 8px;
   margin-bottom: 8px;
   background-color: whitesmoke ;
   padding: 8px;
   height: 12px;
   width: 50px;
   
}

.main-content {
    margin: 0 ;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    
}

.center-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 6px;
}

.poke-body img {
    width: 100%;

    
}

.pokecard {
    transition: 0.7s;
    cursor: pointer;
}

.pokecard:hover {
    transform: scale(1.2);
}

.poke-name h2 {
    color: #060607;
    width: 140px;
    
}
.center-number {
    color: #060607;
    background-color: whitesmoke;
    border-radius: 50%;
    padding: 2px;
    width: 27px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.display-row {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 16px;
    width: 100%;
    font-size: 14px;
}


.single-pokemon-card-container {
    display: flex;
    justify-content: center;
   
}

.single-pokemon-card{
    width: 30%;
    background-color: #060607;
    height: 90vh;
    display: flex;
  flex-direction: column;
    position: fixed;
    z-index: 100;
    border: solid black 3px;
    top: 50px;

   
}

.name-and-id-line {
    background-color: aqua;
    height: 5%;
    display: flex;
    font-weight:  bold;
    font-size: 26px;
    justify-content: center;
    align-items: center;
    border-bottom: solid 3px black;
    
}

.round-background {
    color: #060607;
    background-color: whitesmoke;
    border-radius: 50%;
    padding: 2px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    
}

.single-pokemon-card-img {
    background-color: blanchedalmond;
    height: 56%;
    display: flex;
    justify-content: space-around;
    align-items: center
}

.single-pokemon-card-img img  {
    height: 70%;
    width: auto;
}

.pokemon-stats-container {
    height: 45%;
    background-color: white;
    border-top: solid 3px black;
}

.stat-line {
    display: flex;
    justify-content: space-around;
    padding-top: 16px;
    
}

.type-icon {
    display: flex;
}

.type-icon img {
    width: 25px;
    height: 25px;
}

.stat-line div {
    background-color: azure;
    padding: 4px 12px;
    border-radius: 10%;
    border: solid red 2.5px ;
    font-weight: bold;
    cursor: pointer;
}


.center-name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}


.seperator {
    background-color: #060607;
    width: 100%;
    height: 2px;
    margin-top: 10px;
}

.stats-information {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-top: 16px;
    height: 71%;
    align-items: center;
    font-size: 26px;
    font-weight: 600;
}



.pokemon-details {
  list-style-type: none;
  display: flex;
    gap: 24px;
    padding: 0;
 
}

.pokemon-details > li {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  font-size: 28px;
}

.pokemon-details > li > strong {
  min-width: 80px; /* Adjust width based on your needs */
  display: inline-block;
}

.detail-value {
  margin-left: 5px;
  margin-right: 3px;
}

.unit {
  margin-left: 3px;
}

.type-item {
  margin-left: 20px;
  list-style-type: disc;
}

.center-type {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 8px;
    padding: 8px;
    height: 20px;
    width: 90px;
    font-size: 28px;
}

.base-stats-item {
    display: flex;
    justify-content: space-between;
    width: 250px; /* Passe die Breite nach Bedarf an */
    padding: 5px 0;
    border-bottom: 1px solid #020202e7; /* Optional, um die Einträge zu trennen */
}

.base-stat-name {
    flex-grow: 1;
    text-align: left;
}

.base-stat-number {
    flex-grow: 0;
    text-align: right;
    width: 40px; /* Feste Breite für die Nummern, damit sie gut ausgerichtet sind */
}

.single-card-background {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 
}

.d-none {
    display: none !important;
}

.blur {
    filter: blur(3px);
}


#click-forward {
    font-size: 34px;
    font-weight: bold;
}

#click-backward {
    font-size: 34px;
    font-weight: bold;
}


.loading_spiner {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-size: 32px;
    flex-direction: column;
    font-weight: bold;
    gap:  32px;
    
}

.btn-container {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#btn {
    cursor: pointer;
    width: 125px;
    height: 125px;

}

#animation {
  display: flex;
  justify-content: center;

}

#animation img {
    height: 125px;
    width: 125px;
}

.hidden {
    visibility: hidden;
}

#text_animation {
    display: flex;
    justify-content: center;
    font-size: 26px;
}


input {
    border: 1px solid #ccc;
    background-color: white;
    padding: 6px;
    font-size: 16px;
    outline: none; 
    border-radius: 10px;
  }

  /* Stil des Input-Felds, wenn es fokussiert ist */
  input:focus {
    border: 2px solid #1803d8da;
    background-color: #ffffff;
  }

.button-color-after-press {
    background: red !important;
    color: azure !important;
    border: solid black 2.5px !important;
}


#load_more_span {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
}

.load64 {
    justify-content: center;
    display: flex;
    margin: 6px;
}

.d-block {
    display: block;
}

@media screen and (max-width: 1600px) {
    .single-pokemon-card {
        width: 45%;
    }
}


@media (max-width: 1201px ) {
    .pokecard {
        width: 18%;
    }
  
}

@media (max-width: 1071px ) {
    .pokecard {
        width: 20%;
    }
}

@media (max-width: 930px ) {
    .pokecard {
        width: 25%;
    }
}

@media (max-width: 850px) {
    .single-pokemon-card {
        width: 70%;
    }
}

@media (max-width: 790px ) {
    .pokecard {
        width: 32%;
    }
}

@media (max-width: 600px ) {
    .pokecard {
        width: 40%;
    }
    nav h1 {
        display: none;
    }

    .single-pokemon-card img {
        height: 50%;
    }
    


    header {
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .stats-information {
        font-size: 20px;
    }
}

@media (max-width: 570px) {
    .pokemon-details > li {
        flex-direction: column;
}

}
@media (max-width: 480px) {
    .single-pokemon-card img {
        height: 45%;
    }
    
}

@media (max-width: 425px ) {
    .pokecard {
        width: 62%;
        margin-bottom: 32px;
    }

    .stats-information {
        font-size: 18px;
    }

    .single-pokemon-card {
       top: 10px;
    }
   
}

@media (max-width: 377px) {
    .single-pokemon-card {
        width: 85%;
    }

  
}


@media (max-height: 577px) {
    .single-pokemon-card-img {
        height: 45%;
    }

    .single-pokemon-card {
        top: 45px;
    }

    .pokemon-stats-container {
            height: 50%;
        
    }

    

    .pokemon-details > li{
        margin-bottom: 0;
        font-size: 22px;
    }
}