body {
    margin: 0;
    font-family:Barlow;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.no-scroll {
    overflow: hidden;
}

.max-width {
    margin: auto;
    max-width: 1920px;
}

.d-flex-space-btw {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

h1 {
    font-size: 58px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #3264AF;
    color: #FFCC01;
}

header {
    background-color: rgb(77, 228, 228);
    border-radius: 8px;
    margin-bottom: 5%;
    
  
}




.poke-name {
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
    

}


.poke-body {
    padding-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;

}

.pokecard {
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    width: 16%;
    border: 3px solid #060607;
   
}

.poke-type {
    border-radius: 8px;
   margin-bottom: 8px;
   background-color: whitesmoke;
   padding: 8px;
   height: 12px;
   width: 50px;
   
}

.main-content {
    margin: 0 ;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    
}

.center-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 6px;
}

.poke-body img {
    width: 100%;

    
}

.pokecard {
    transition: 0.7s;
    cursor: pointer;
}

.pokecard:hover {
    transform: scale(1.2);
}

.poke-name h2 {
    color: #060607;
    width: 140px;
    
}
.center-number {
    color: #060607;
    background-color: whitesmoke;
    border-radius: 50%;
    padding: 2px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.display-row {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 16px;
    width: 100%;
}


.single-pokemon-card-container {
    display: flex;
    justify-content: center;
   
}

.single-pokemon-card{
    width: 30%;
    background-color: #060607;
    height: 90vh;
    display: flex;
  flex-direction: column;
    position: fixed;
    z-index: 100;
    border: solid black 3px;
    top: 50px;
}

.name-and-id-line {
    background-color: aqua;
    height: 5%;
    display: flex;
    font-weight:  bold;
    font-size: 26px;
    justify-content: center;
    align-items: center;
    border-bottom: solid 3px black;
    
}

.round-background {
    color: #060607;
    background-color: whitesmoke;
    border-radius: 50%;
    padding: 2px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    
}

.single-pokemon-card-img {
    background-color: blanchedalmond;
    height: 56%;
    display: flex;
    justify-content: space-around;
    align-items: center
}

.single-pokemon-card-img img  {
    height: 55%;
    width: 55%;
}

.pokemon-stats-container {
    height: 45%;
    background-color: orange;
    border-top: solid 3px black;
}

.stat-line {
    display: flex;
    justify-content: space-around;
    padding-top: 16px;
    
}

.stat-line div {
    background-color: azure;
    padding: 4px 12px;
    border-radius: 10%;
    border: solid red 2.5px ;
    font-weight: bold;
    cursor: pointer;
}


.center-name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}


.seperator {
    background-color: #060607;
    width: 100%;
    height: 2px;
    margin-top: 10px;
}

.stats-information {
    display: flex;
    justify-content: center;
    padding-top: 16px;
    height: 71%;
    align-items: center;
    font-size: 26px;
    font-weight: 600;
}

.stats-information ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.base-stats-item {
    display: flex;
    justify-content: space-between;
    width: 250px; /* Passe die Breite nach Bedarf an */
    padding: 5px 0;
    border-bottom: 1px solid #020202e7; /* Optional, um die Einträge zu trennen */
}

.base-stat-name {
    flex-grow: 1;
    text-align: left;
}

.base-stat-number {
    flex-grow: 0;
    text-align: right;
    width: 40px; /* Feste Breite für die Nummern, damit sie gut ausgerichtet sind */
}

.single-card-background {
    width: 100%;
    height: 100%;
    z-index: 99;
    position: absolute;
 
}

.d-none {
    display: none;
}

.blur {
    filter: blur(3px);
}


#click-forward {
    font-size: 34px;
    font-weight: bold;
}

#click-backward {
    font-size: 34px;
    font-weight: bold;
}

@media screen and (max-width: 1600px) {
    .single-pokemon-card {
        width: 45%;
    }
}